@model IEnumerable<ShopMVC.Web.Areas.AdminArea.Models.BookDisplayModel>

@{
    ViewBag.Title = "Home Page";
}

    <div class="jumbotron">
        <h1>What about best selling books list?</h1>
        @foreach (var book in Model)
        {
            @Html.Partial("BookTileView", book);
        }
        <div class="clearfix"></div>

        @Html.ActionLink("All books...", "Index", "products", new { area = "customer" }, new { @class = "btn btn-primary btn-lg" })
    </div>
