@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">

    @Html.ActionLink("All books...", "Index", "products", new { area= "customer" }, new { @class= "btn btn-primary btn-lg"})
    <h1>What about best selling books list?</h1>
    <p class="lead">This is an excellent place for partial view with best selling books, isn't it...?</p>
</div>
